*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    
    font-family: 'Playfair Display', serif;
    font-family: 'Quicksand', sans-serif;
}
header{
    display: flex;
    background-image: url(./asset/design1_image1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 30vh;
    flex-wrap: wrap;
    justify-content: space-between;
    

}
header img{
    /*display:flex;
    justify-content: right;
    float: right;
    margin-top: 75px;
    margin-right: 50px;
    display: flex;
    border: 1px solid red*/
    height: 7.5rem;
    width: 7.5rem;
    border: 1px solid red;
    display: flex;
    align-self: flex-end;
    margin-top: 7rem;
    margin-right: 2rem;
}

header h1{
    height: 3rem;
    border: 1px solid red;
    
}
h2{
    
    background-color: black;
    color: white; 
    text-align: center;
}

.centro{
    display: inline;
    float: right;
    margin-top: 15px;
    width: 900px;
}
nav{
    display: inline-block;
    float: left;
    
}
nav a{
    display: block;
    margin: 30px;
}
.photo1{
    float: right;
}
.centro2{
    display: inline;
    float: right;
    box-sizing: border-box;
    width: 1000px;
    margin-top: 20px;
}
#foto2{
    
    float: right;
    
}
.parrafo{
    text-indent: 5%;
}
