*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    
    font-family: 'Playfair Display', serif;
    font-family: 'Quicksand', sans-serif;
}
header{
    display: flex;
    background-image: url(./asset/design1_image1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 30vh;
    flex-wrap: wrap;
    justify-content: space-between;
    

}
header img{
    /*display:flex;
    justify-content: right;
    float: right;
    margin-top: 75px;
    margin-right: 50px;
    display: flex;
    border: 1px solid red*/
    height: 7.5rem;
    width: 7.5rem;
    /*border: 1px solid red;*/
    display: flex;
    align-self: flex-end;
    margin-top: 7rem;
    margin-right: 2rem;
}

header h1{
    height: 3rem;
    /*border: 1px solid red;*/
    border: 1px solid rgb(8, 8, 8);
    border-radius: 1rem;
    background-color: rgb(218, 221, 221);
    letter-spacing: 0.5rem;
    
    
}

main h2{
    /*display: flexbox;*/
    height: 2rem;
    background-color: black;
    color: white; 
    text-align: center;
    width: 100%;
    /*border: 1px solid red;*/
}
/*body section{
    display: flex;


    

}*/
.contenedor {
    display: flex;
}

.centro{
    /*
    float: right;
    margin-top: 15px;
    width: 900px;*/
    display: flex;
    /*border: 1px solid rgb(68, 97, 25);*/
    background-image: url(./asset/hockey_1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    order: 2;
    flex-direction: column;
    width: 100%;
}
.texto{
    margin-top: 5rem;
    margin-left: 5rem;
}



body main nav{
    display: flex;
    flex-direction: column;
    float: left;
    /*border: 1px solid red;*/
    order: 1;
    background-color: blanchedalmond;
    
}
nav a{
    display: flex;
    margin: 30px;
    border: 1px solid blue;
    border-radius: 0.5rem;
    background-color: azure;

}
/*
.photo1{
    float: right;
}
.centro2{
    display: inline;
    float: right;
    box-sizing: border-box;
    width: 1000px;
    margin-top: 20px;
}

.parrafo{
    text-indent: 5%;
}
*/
